<div class="change-password-container" xmlns:th="http://www.w3.org/1999/xhtml">

    <h2>Change Password</h2>

    <!-- SUCCESS -->
    <p th:if="${success}" th:text="${success}" class="alert-success"></p>

    <!-- ERROR -->
    <p th:if="${error}" th:text="${error}" class="alert-error"></p>

    <form th:action="@{/admin/change-password}" method="post">

        <div class="field">
            <label>Old Password</label>
            <input type="password"
                   name="oldPassword"
                   placeholder="Enter Old Password"
                   required>
        </div>

        <div class="field">
            <label>New Password</label>
            <input type="password"
                   name="newPassword"
                   placeholder="Enter New Password"
                   required>
        </div>

        <button type="submit"><span data-lucide="key-round"></span>Update Password</button>

    </form>

</div>
