<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Enquiries</title>
    <link rel="stylesheet" href="/css/admin-product-enquiries.css">
    <link rel="stylesheet" href="/css/admin-dashboard.css">

</head>
<body>
<div class="admin-container">

    <h2 class="admin-title">Admin Dashboard</h2>

    <!-- Admin Action Buttons -->
    <div class="admin-actions">

        <a href="/admin/add" class="action-btn add">+ Add New Product</a>
        <a href="/admin/categories" class="action-btn category">+ Add Category</a>

        <a href="/admin/customer-enquiries" class="action-btn enquiry">Customer Enquiries</a>
        <a href="/admin/product-enquiries" class="action-btn enquiry">Product Enquiries</a>

        <!-- ⭐ New Section Added -->
        <a href="/admin/hero" class="action-btn banner">🎨 Manage Hero Banners</a>

    </div>

</div>

<h2 class="title">Customer Product Enquiries</h2>

<div class="table-container">
    <table class="enquiry-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Message</th>
            <th>Date</th>
            <th>Products</th>
            <th>Action</th>
            <th>Status</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="e : ${requests}">
            <td th:text="${e.id}"></td>
            <td th:text="${e.userName}"></td>
            <td th:text="${e.userEmail}"></td>
            <td th:text="${e.userPhone}"></td>
            <td th:text="${e.message}"></td>
            <td th:text="${#temporals.format(e.createdAt,'dd-MM-yyyy HH:mm')}"></td>
            <td>
                <span th:if="${e.adminReply == null}" style="color: orange;">Pending</span>
                <span th:if="${e.adminReply != null}" style="color: green;">Replied</span>
            </td>


            <td>
                <ul class="product-list">
                    <li th:each="p : ${e.items}"
                        th:text="${p.productName} + ' (Qty: ' + p.quantity + ')'"></li>
                </ul>
            </td>

            <td><a th:href="@{'/admin/product-enquiry/reply/' + ${e.id}}" class="reply-btn">Reply</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
