<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    <!-- Required for mobile responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/layout.css">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<main>
    <div class="auth-box">
        <h2>Reset Password</h2>

        <form th:action="@{/reset-password}" method="post" class="reset-form">

            <!-- Token -->
            <input type="hidden" name="token" th:value="${token}" />

            <!-- New Password -->
            <input type="password"
                   name="password"
                   id="password"
                   placeholder="New password"
                   required />

            <!-- Confirm Password -->
            <input type="password"
                   name="confirmPassword"
                   placeholder="Confirm password"
                   required />

            <button type="submit">Change Password</button>

            <!-- Error Message -->
            <p class="error" th:if="${error}" th:text="${error}"></p>
        </form>

    </div>
</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- JS -->
<script src="/js/script.js"></script>

</body>
</html>
